/* styles.css */
.card {
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

label {
    font-weight: bold;
}

.invalid-feedback {
    display: block;
    color: #dc3545;
}

textarea.form-control {
    resize: vertical;
}
