.member-photo {
    width: 80%;
    height: auto;
    margin-left: 30px; /* Add left margin for auto centering */
    margin-right: 0;
    margin-top: 98px; /* Remove right margin */
  }

  .card {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px; /* Add a bit of spacing between cards */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; /* Add padding to card-body */
  }

  .card-info {
    display: flex;
    align-items: flex-start; /* Adjust vertical alignment to top */
    margin-bottom: 3px; /* Reduce spacing between info */
  }

  .card-info-label {
    width: 120px; /* Adjust label width */
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
    white-space: nowrap;
  }

  .card-info-content {
    flex-grow: 1;
    margin: 0;
    text-align: left;
    margin-left: 10px; /* Reduce left margin on content */
    margin-bottom: 5px; /* Reduce spacing at the bottom of content */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; /* Set content text alignment to left */
  }

  .card-title {
    margin-bottom: 10px; /* Add spacing below card title */
    text-align: center; /* Center the title text */
  }

  .card-description {
    margin-top: 10px; /* Add spacing above card description */
  }

  .text-center {
    text-align: center; /* Center the button text */
    margin-top: 10px; /* Add some spacing above the button */
  }
